@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
main {
    background-color: #ffffff;
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
}
main h1 {
    padding: 10px;
}
main p {
    padding: 10px;
}
header > ul {
    display: flex;
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}
header > img {
    width: 100%;
}
article > img {
    padding: 30px;
    width: 40%;
}
article.aboutMe {
    display: flex;
    background-color: #000000;
    color: white;
    justify-content: space-between;
    align-items: center;
}
article.aboutMe > h1 {
    text-align: justify;
}
article.aboutMe > img {
    float: left;
}
article.social {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
article.social > img {
    height: auto;
}
article.projects {
    text-align: center;
}
article.projects > img {
    width: 100%;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}
footer {
    text-align: center;
    font-family: sans-serif;
}
